$white: #fff;
$black: #000;
$darkestGray: #333;
$darkGray: #6b6b6b;
$midGray: #999;
$lightGray: #ebebeb;
$lightestGray: #f4f7f8;
$blue: #1565ad;
$green: #009755;

$link: $blue;
$linkHover: $blue + #333;
$text: $midGray;
$textLight: $white;
$textDark: $darkestGray;
$accent: $blue;
$accentAlt: $green;
$bg: $white;
$bgSecondary: $lightestGray;
$bgDark: $darkestGray;
$bgGreen: $green;
$bgBlue: $blue;
$gradient: linear-gradient(-45deg, $green 30%, $blue 55%);
$gradientHover: linear-gradient(-45deg, $green 45%, $blue 90%);

$base: 40px;
$radius: 5px;

$duration: 0.3s;
$easing: cubic-bezier(.785, .135, .15, .86);
$easingLight: ease;

$mainFont: 'PT Sans', sans-serif;
$altFont: 'Myriad', sans-serif;

@mixin shades($mode) {

    @if $mode == before {
        content: '';
        position: absolute;
        background: transparent;
        width:210%;
        height: 120%;
        background: transparent;
        box-shadow: inset 0 10px 100px rgba(0,0,0,.5);
        transform: rotate(-45deg);
        top:-50%;
        opacity: .7;
        z-index:0;
        pointer-events: none;
    }

    @if $mode == after {
        content: '';
        position: absolute;
        background: transparent;
        width:50%;
        height: 90%;
        box-shadow: 0 10px 100px rgba(0,0,0,.5);
        transform: rotate(45deg);
        top:100%;
        right:-10.8%;
        opacity: .2;
        z-index:0;
        pointer-events: none;
    }
}

@keyframes wave {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

@keyframes waveReverse {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}
