.cta {
    background-image: $gradient;
    padding: 80px 6%;
    position: relative;
    overflow: hidden;

    &:before {
        @include shades(before);
        left:-40%;
        height:200vh;
    }

    &:after {
        @include shades(after);
        right:27%;
        top:180%;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;

        @include breakpoint(sm){
            flex-direction: row;
            flex-wrap: nowrap;
        }
    }

    &__text{
      color: $white;
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      text-align: center;
      margin-bottom: $base/2;
      font-family: $mainFont;


        @include breakpoint(sm) {
          text-align: left;
          line-height: 40px;
          margin-right: 40px;
          margin-bottom: 0;
        }
        @include breakpoint(md) {
          font-size: 32px;
          line-height: 30px;
          max-width: 65%;
        }
    }

      a._button.-white {
        font-size: 14px;
        line-height: 50px;
        padding:0 40px;
        height: 50px;
        color:$blue;
      }

}// cta styles
