mixin cta(data)

    section.cta
        .container-fluid
            .row
                .col-xs-24.cta__container
                    p.cta__text=data.text
                    a._button-white(href=data.btn.url)=data.btn.text
