.cta {
    background-image: $gradient;
    padding: 80px 6%;
    position: relative;
    overflow: hidden;

    &:before {
        @include shades(before);
        left:-40%;
        height:200vh;
    }

    &:after {
        @include shades(after);
        right:27%;
        top:180%;
    }

    &__container {
        display: flex;
        justify-content: center;
    }

    &__text{
      color: $white;
      font-size: 15px;
      line-height: 15px;
      margin-left: 20px;
      font-weight: bold;
      flex-wrap: wrap;

        @include breakpoint(sm) {
          line-height: 40px;
          flex-wrap: nowrap;
        }
        @include breakpoint(md) {
          font-size: 26px;
          line-height: 30px;
        }
    }
    @include breakpoint (xs) {
      a._button.-white {
        font-size: 12px;
        line-height: 14px;
        padding: 4px 40px;
      }
    }

}// cta styles
