a._button,
button._button,
._button {
    background: $link;
    color: $white;
    display: inline-block;
    font-family: $mainFont;
    font-size: 16px;
    font-weight: 700;
    height: $base;
    line-height: $base;
    max-width: 300px;
    padding: 0 40px;
    text-align: center;
    text-transform: uppercase;
    transition: all $duration $easingLight;
    border-radius: $radius;

    &:hover{
        background: $linkHover;
        text-decoration: none;
        color: $white;
    }

    &.-white {
        background: $white;
        color: $textDark;
        border: 1px solid rgba(0,0,0,.5);

        &:hover{
            color: $blue;
            background: $white;
            padding: 0 60px;
        }
    }

    &.-green{
        background: $green;
        color: $white;

        &:hover{
            background: $green + #333;
        }
    }

    &.-cta{
        background: linear-gradient(-45deg, $green, $blue);
        color:$white;
        padding: 0 25px;
        height: 70px;
        letter-spacing: 1px;
        line-height: 70px;
        font-family: $mainFont;

        &:hover{
            background: $gradient;
            padding: 0 40px;
        }
    }

    &.-large {
        height: $base*1.5;
        line-height: $base*1.5;
        font-size: 24px;
    }

    &.-small {
        height: $base*0.75;
        line-height: $base*0.75;
    }
}
