mixin job(data, index)

    .job.wow.fadeInRightBig(data-wow-delay="#{(index + 1)/8}s")
        .job__data
            h2.job__title= data.title
            p.job__desc= data.desc
        a._button.-white.job__button Estoy interesado
        
