.analisis {
    &__hero {
        background-image: $gradient;
        padding: 7% 0;
        overflow: hidden;
        position: relative;
        color:$white;

        @include breakpoint(sm) {
            padding: 7% 0 12%;
        }

        &:before {
            @include shades(before);
            right: -130%;
            opacity: .7;
        }

        &:after {
            @include shades(after);
            opacity: .3;
            right:50%;
            top:-75%;
            width:80%;
            height:200%;
            box-shadow: inset 30px 50px 100px rgba(0,0,0,.5);
        }
    }

    &__body {
        background: url('/images/home/whysxi-bg.png') no-repeat top center;
        background-size: cover;
    }

    &__data {
        margin-top: 24%;
        margin-bottom: 70%;

        @include breakpoint(sm){
            margin-top: 10%;
            margin-bottom: 15%;
        }

        @include breakpoint(md){
            margin-top: 6%;
            margin-bottom: 10%;
        }

        @include breakpoint(lg){
            margin-top: 6%;
            margin-bottom: 0;
        }
    }

    &__title {
        font-size:16px;
        margin: 0 0 5px;

        @include breakpoint(sm){
            font-size:21px;
        }
    }

    &__subtitle {
        font-size:24px;
        margin: 0 0 $base/2;

        @include breakpoint(sm) {
            font-size: 48px;
        }
    }

    &__desc {
        font-size: 21px;
    }

    &__bullets {
        padding: 6% 7%;
        background: $white;
        box-shadow: 0 0 50px rgba(0,0,0,.1);
        float: left;
        position: relative;
        z-index:2;
        width: 100%;
        transform: translateY(-20%);

        @include breakpoint(md) {
            width:73%;
        }

        li {
            background: transparentize($lightestGray, .7);
            padding: $base/2 $base;
            margin-bottom: $base/4;
            display: flex;
            align-items: center;
        }

        &-number {
            font-size: 48px;
            font-weight: 700;
            color:$blue;
            font-family: $altFont;
            margin-right: $base;
        }

        &-text {
            color:$midGray;
            font-size: 21px;
        }
    }

    &__character {
        position: absolute;
        right:0;
        top:-25%;
        bottom:initial;
        width:40%;
        z-index:0;

        @include breakpoint(sm){
            bottom:35%;
            width:38%;
            top:initial;
            z-index:2;
            right:-2%;
            height: 976px;
        }

        img {
            position: absolute;
            width:100%;
            top:0;
            left:0;

            &._arm {
                left:5px;
                animation: wave 1s infinite;
                transform-origin: 40% 28%;
                transform: rotate(-10deg);
            }
        }
    }
}
