.gartner {
    &__hero {
        background-image: $gradient;
        padding: 10% 0 18%;
        overflow: hidden;
        position: relative;
        color:$white;

        .container {
            position: relative;
        }

        &:before {
            @include shades(before);
            right: -130%;
            opacity: .7;
        }

        &:after {
            @include shades(after);
            opacity: .3;
            right:50%;
            top:-75%;
            width:80%;
            height:200%;
            box-shadow: inset 30px 50px 100px rgba(0,0,0,.5);
        }
    }

    &__title {
        font-family: $mainFont;
        font-size: 24px;

        @include breakpoint(sm){
            font-size: 60px;
        }
    }

    &__body {
        background: url('/images/home/whysxi-bg.png') no-repeat top center;
        background-size: contain;
        color: $midGray;
        padding: 20% 0 6%;
        position: relative;

        @include breakpoint(md){
            padding: 20% 0 6%;
        }

        img {
            margin-bottom: $base;
        }

        h2 {
            color: $blue;
            font-family: $mainFont;
            font-size:18px;
            @include breakpoint(md){
                font-size: 26px;
                line-height: 33px;
            }
        }

        p{
            margin-bottom: $base;
            @include breakpoint(md){
                font-size: 21px;
                line-height: 33px;
            }
        }

        ul {
            list-style: disc;
            padding-left: $base;
            margin-bottom: $base/4;

            li{
                margin-bottom: $base/4;
                @include breakpoint(md){
                    font-size: 21px;
                    line-height: 33px;
                }
            }
        }
    }

    &__character {
        position: absolute;
        right:10%;
        top:7%;
        width:30%;
        z-index:2;

        @include breakpoint(xs) {
            display: none;
        }
    }

    &__data {
        margin-top: 24%;
        margin-bottom: 12%;

        @include breakpoint(sm){
            margin-top: 10%;
            margin-bottom: 15%;
        }

        @include breakpoint(md){
            margin-top: 6%;
            margin-bottom: 10%;
        }

        @include breakpoint(lg){
            margin-top: 3%;
            margin-bottom: 0;
        }
    }

    &__form {
        position: relative;
        left:0;
        right:0;
        margin-top:-32%;
        z-index:5;
        margin-bottom: $base;

        @include breakpoint(md) {
            position: absolute;
        }
    }
}
