.historia {
    &__hero {
        background-image: $gradient;
        padding: 30% 0;
        overflow: hidden;
        position: relative;

        @include breakpoint(md) {
            padding: 4% 0;
        }

        &:before {
            @include shades(before);
            z-index:5;
            right: -110%;
            opacity: .7;
        }

        &:after {
            @include shades(after);
            z-index:5;
            opacity: .3;
            right:50%;
            top:-175%;
            width:80%;
            height:280%;
            box-shadow: inset 0 10px 100px rgba(0,0,0,.5);
        }
    }

    &__title {
        text-align: center;
        margin: 0;
        color:$white;
        margin-top: 5%;

        @include breakpoint(sm) {
            font-size:60px;
        }
    }

    &__body {
        padding: 4% 0;
        color:$midGray;

        h2, h3{
            color: $blue;
            font-size: 21px;
            display: block;
            font-family: $mainFont;

            @include breakpoint(md) {
                font-size:32px;
                line-height: 36px;
            }
        }

        h2 {
            text-align: center;
            width:90%;
            max-width: 1200px;
            margin: 0 auto 3%;
            background: $white;
            position: relative;
            z-index: 2;
        }

        .container{
            position: relative;

            &:before {
                width:1px;
                position: absolute;
                left:calc(50% - 1px);
                top:26px;
                bottom:0;
                background: $lightGray;
                height: 100%;
                content: '';
                display: block;

                @include breakpoint(xs) {
                    left:29px;
                }
            }
        }

        .row {

            .col-xs-22{
                text-align: right;
                padding-left:$base;
                padding-right:$base;

                @include breakpoint(xs){
                    text-align: left;
                    float: right;
                }

                &:before {
                    content: '';
                    width:11px;
                    height: 11px;
                    border-radius: 50%;
                    position: absolute;
                    right:-5px;
                    background: $green;
                    top:26px;

                    @include breakpoint(xs){
                        right:initial;
                        left:-6px;
                    }
                }
            }

            &:nth-of-type(odd) {
                .col-xs-22{
                    text-align: left;
                    float: right;

                    &:before {
                        right:initial;
                        left:-6px;
                    }
                }
            }

            p {
                font-size:16px;
                display: inline-block;
                width:100%;

                @include breakpoint(sm) {
                    width:60%;
                }
            }
        }
    }
}
