.home {
    /* Porque XSI*/

    &__hero {
        background-image: $gradient;
    }

    &__slider {
        overflow: hidden;
        height: 0;
        padding-bottom: 40%;
        position: relative;
        margin-bottom: 0!important;

        &:before {
            @include shades(before);
            z-index:5;
        }

        &:after {
            @include shades(after);
            z-index:5;
        }

        &__slide{
            height: 0;
            padding-bottom: 40%;
            position: relative;
            background-size: cover;

            &:focus{
                outline: none;
            }
        }

        &__data {
            position: absolute;
            top: 18%;
            color:$white;
            width:90%;

            @include breakpoint(sm){
                width: 70%;
            }

            @include breakpoint(md){
                width: 40%;
            }

            @include breakpoint(lg){
                width: 30%;
            }

            h2 {
                @include breakpoint(md){
                    font-size: 60px;
                }
            }

            p{
                font-size: 16px;
                margin-bottom: 20px;
            }
        }
    }

    &__porquexsi {
      padding: 16% 0 4%;
      background: url('/images/home/whysxi-bg.png') no-repeat top center;
      background-size: cover;

      &__title {
        color: $darkestGray;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 50px;

        @include breakpoint(md) {
          font-size: 35px;
        }
      }

      &__img {
        text-align: center;
        margin-bottom: 25px;
        img {
          width: 100px;
        }
      }
      &__item-title {
        font-size: 18px;
        color: $blue;
        font-weight: bold;
        text-align: center;
        text-transform: capitalize;
      }
      &__item-desc {
        font-size: 14px;
        color: $text;
        text-align: center;
      }
    }
    /*Gestion IT*/
    &__gestionit {
      margin-left: 0;
      margin-right: 0;
      display: flex;
      flex-wrap: wrap;

      @include breakpoint(md){
          flex-wrap: nowrap;
      }

        &__img {
            overflow: hidden;
            padding: 0 0 56.5% 0;
            height: 0;
            position: relative;

            @include breakpoint(md){
                padding: 0 0 31.5% 0;
            }

            img {
              width: 100%;
              height: 100%;
              position: absolute;
              top:0;
              left:0;
            }
        }

        &__content {
          margin: 0;
          background-color: $darkestGray;
          padding: 0 8%;
          display: flex;
          justify-content: center;
          flex-direction: column;
        }

        &__title {
            color: $white;
            font-size: 20px;
            line-height: 20px;
            font-weight: bold;

            @include breakpoint(md) {
                font-size: 32px;
                line-height: 32px;
            }
        }

        &__desc {
            color: $white;
            font-size: 14px;
            margin-top: 18px;
        }
    }

    /*Seccion Soy XSI*/
    .soyxsi {
        margin: 50px 6% 0;
        height: 350px;
        .it, .finanzas {
          display: block;
        }
        .it__img, .finanzas__img {
            img {
              height: 250px;

              @include breakpoint (md) {
                position: absolute;
                height: 350px;
                top: 0;
              }
            }
        }

        .it__title {
          font-size: 40px;
          color: $blue;
          font-weight: bold;
          line-height: 40px;
            @include breakpoint (md) {
              font-size: 50px;
              line-height: 50px;
            }
        }
        .finanzas__title {
          font-size: 40px;
          color: $green;
          font-weight: bold;
          line-height: 40px;
            @include breakpoint (md) {
              font-size: 50px;
              line-height: 50px;
            }
        }
        .button__soy {
          background: $white;
          color: $textDark;
          display: inline-block;
          font-family: $mainFont;
          font-size: 12px;
          font-weight: bold;
          line-height: 18px;
          max-width: 300px;
          padding: 5px 25px;
          border: 1px solid $lightGray;
          border-radius: 8px;
          text-align: center;
          text-transform: uppercase;
          transition: all $duration $easingLight;
          margin-top: 20px;

          &:hover{
              text-decoration: none;
              color: $blue;
          }

            @include breakpoint (sm) {
              line-height: 45px;
              padding: 0 25px;
            }
        }

        .finanzas-open {
            display: none;
              .fa-times {
                position: absolute;
                font-size: 30px;
                color: $text;
                left: 80px;
                @include breakpoint (xs) {
                  position: relative;
                  left: 20px;
                  margin-bottom: 20px;
                }
                @include breakpoint (sm) {
                  position: relative;
                  left: 20px;
                  margin-bottom: 20px;
                }
              }
              .finanzas__title {
                text-align: center;
                margin-bottom: 20px;
              }

              ul {
                  li {
                    font-size: 20px;
                    display: -webkit-inline-box;

                    .fa-check-circle {
                      margin-right: 5px;
                      color: $green;
                      font-size: 20px;
                    }
                  }
              }
        }

        .it-open {
            display: none;
              .fa-times {
                position: absolute;
                font-size: 30px;
                color: $text;
                left: 80px;
                @include breakpoint (xs) {
                  position: relative;
                  left: 20px;
                  margin-bottom: 20px;
                }
                @include breakpoint (sm) {
                  position: relative;
                  left: 20px;
                  margin-bottom: 20px;
                }
              }
              .it__title {
                text-align: center;
                margin-bottom: 20px;
              }

              ul {
                  li {
                    font-size: 20px;
                    display: -webkit-inline-box;

                    .fa-check-circle {
                      margin-right: 5px;
                      color: $blue;
                      font-size: 20px;
                    }
                  }
              }
        }
    }

    /*SliderXsi*/
    .home__hero-xsi {
      clear: both;
      background-image: $gradient;
      height: 680px;

        @include breakpoint(sm) {
          height: 400px;
        }

          .container {
            height: 400px;
                .home__slider-xsi-img {
                  padding-top: 100px;

                    img {
                      margin: 0 auto;
                    }
                }
                .home__slider-xsi-text {
                  padding-top: 100px;

                    p {
                      color: white;
                      font-size: 16px;
                      line-height: 25px;
                      margin-top: 20px;
                        @include breakpoint(md) {
                          padding-right: 100px;
                          margin-top: 0;
                        }
                    }
                }
          }

          .slick-dots {
            left: 45%;
          }
    }

    /* Sección Clientes*/
    &__clients {
      width: 100%;
      padding: 5% 0;
      background-image: url("/images/main-bg-white.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      &__title {
          font-size: 20px;
          text-align: center;
          color: $darkGray;
          text-transform: uppercase;
          margin-bottom: 50px;
      }
      &__img {
          text-align: center;

          img {
              width: 120px;
              height: auto;
          }
      }

      .container {
          margin: 50px auto;

          ul {
                li {
                    margin-bottom: 50px;
                }
            }
        }
    }

    /* Sección Novedades*/
    &__novedades{

        &__container {
            margin: 50px auto;
        }

        &__title {
            font-size: 30px;
            font-weight: bold;
            color: $darkestGray;
            text-transform: capitalize;
            margin-bottom: 40px;

            @include breakpoint(md) {
                font-size: 50px;
            }
        }

        &__articles {
            li {
                border-left: 2px solid $lightestGray;
                padding-left: 10px;
                margin-bottom: 10px;
                &:first-child {
                    border: none;
                    padding-left: none;
                }
            }
        }

        &__img {
            width: 100%;
            height: 170px;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
            }
        }

        &__article-title {
            color: $blue;
            font-weight: bold;
            margin-top: 10px;
        }

        &__article-desc {
            color: $darkestGray;
            font-size: 20px;
            font-weight: bold;
        }
    }
}
