.home {

}

.novedades__container {
  margin: 50px 6%;

    .novedades__title {
      font-size: 30px;
      font-weight: bold;
      color: $darkestGray;
      text-transform: capitalize;
      margin-bottom: 40px;

      @include breakpoint(md) {
        font-size: 50px;
      };
    }
    .novedades__articles {
      li {
        border-left: 2px solid $lightestGray;
        padding-left: 10px;
        margin-bottom: 10px;
        &:first-child {
          border: none;
          padding-left: none;
        }
        .novedades__img {
          width: 100%;
          height: 170px;
          overflow: hidden;
          img {
            width: 100%;
            height: auto;
          }
        }
        .novedades__article-title {
          color: $blue;
          font-weight: bold;
          margin-top: 10px;
        }

        .novedades__article-desc {
          color: $darkestGray;
          font-size: 20px;
          font-weight: bold;
        }
      }

    }
}

.newsletter__container {
    margin: 50px 0;
    padding: 100px 0;
    background-image: linear-gradient(45deg, $blue 0%, #009755 100%),linear-gradient(45deg, $blue 0%, #009755 100%);

      .newsletter__title {
          text-align: center;
          color: $white;
          font-size: 25px;
          font-weight: bold;

          @include breakpoint(md) {
            font-size: 50px;
          }
      }

      form {
        text-align: center;

        input[type=text] {
          background-color: #333;
          border: none;
          border-radius: 8px;
          text-align: center;
          color: $white;
          font-size: 18px;
          padding: 10px 10px;
          margin-right: 15px;
          margin-bottom: 15px;
          width: 300px;

          &::-webkit-input-placeholder {
            color: $white;
          }

          @include breakpoint(md) {
            font-size: 18px;
            width: 300px;
            padding: 10px 10px;
          }
        }

        input[type=submit] {
          background: $white;
          color: $textDark;
          display: inline-block;
          font-family: $mainFont;
          font-size: 14px;
          font-weight: bold;
          line-height: 45px;
          max-width: 300px;
          padding: 0 45px;
          border: none;
          border-radius: 8px;
          text-align: center;
          text-transform: uppercase;
          transition: all $duration $easingLight;

          &:hover{
              text-decoration: none;
              color: $blue;
          }

          @include breakpoint(md) {
            font-size: 14px;
            line-height: 45px;
            padding: 0 45px;
          }
        }

      }
}
