.home {
    /* Porque XSI*/

    &__hero {
        background-image: $gradient;
    }

    &__slider {
        overflow: hidden;
        height: 0;
        padding-bottom: 130%;
        position: relative;
        margin-bottom: 0!important;

        @include breakpoint(sm) {
            padding-bottom: 80%;
        }

        @include breakpoint(md) {
            padding-bottom: 60%;
        }

        @include breakpoint(lg) {
            padding-bottom: 48%;
        }

        &:before {
            @include shades(before);
            z-index:5;
            right: -140%;
            opacity: 1;
        }

        &:after {
            @include shades(after);
            z-index:5;
            opacity: .5;
            right:-7.4%;
        }

        &__slide{
            height: 0;
            padding-bottom: 130%;
            position: relative;
            background-size: cover;
            overflow: hidden;

            @include breakpoint(sm) {
                padding-bottom: 80%;
            }

            @include breakpoint(md) {
                padding-bottom: 60%;
            }

            @include breakpoint(lg) {
                padding-bottom: 48%;
            }

            &:focus{
                outline: none;
            }

            ._button.-white {
                color:$blue;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                background: linear-gradient(0deg, rgba(0,0,0,.7) 60%, rgba(0,0,0,0));
                z-index:0;

                @include breakpoint(md) {
                    display: none;
                }
            }
        }

        &__data {
            position: absolute;
            top: 13%;
            color:$white;
            width:90%;
            z-index: 2;

            @include breakpoint(sm){
                width: 70%;
            }

            @include breakpoint(md){
                width: 40%;
                top: 15%;
            }

            @include breakpoint(lg){
                width: 30%;
            }

            h2 {
                @include breakpoint(md){
                    font-size: 60px;
                }
            }

            p{
                font-size: 16px;
                margin-bottom: 20px;
            }
        }
    }

    &__calculator {
        margin-top: $base/2;
        @include breakpoint(md){

            position: absolute;
            transform: translateY(-70%);
            z-index:10;
            left:0;
            right:0;
            margin:auto;
        }
    }

    &__porquexsi {
      padding: 16% 0 4%;
      background: url('/images/home/whysxi-bg.png') no-repeat top center;
      background-size: cover;

      &__title {
        color: $darkestGray;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 50px;

        @include breakpoint(md) {
          font-size: 35px;
        }
      }

      &__img {
        text-align: center;
        margin-bottom: 25px;
        img {
          width: 100px;
        }
      }
      &__item-title {
        font-size: 18px;
        color: $blue;
        font-weight: bold;
        text-align: center;
        text-transform: capitalize;
      }
      &__item-desc {
        font-size: 14px;
        color: $text;
        text-align: center;
      }
    }
    /*Gestion IT*/
    &__gestionit {
      margin-left: 0;
      margin-right: 0;
      display: flex;
      flex-wrap: wrap;

      @include breakpoint(md){
          flex-wrap: nowrap;
      }

        &__img {
            overflow: hidden;
            padding: 0 0 56.5% 0;
            height: 0;
            position: relative;

            @include breakpoint(md){
                padding: 0 0 31.5% 0;
            }

            img {
              width: 100%;
              height: 100%;
              position: absolute;
              top:0;
              left:0;
            }
        }

        &__content {
          margin: 0;
          background-color: $darkestGray;
          padding: 8%;
          display: flex;
          justify-content: center;
          flex-direction: column;

          @include breakpoint(md) {
              padding: 0 8%;
          }
        }

        &__title {
            color: $white;
            font-size: 20px;
            line-height: 20px;
            font-weight: bold;

            @include breakpoint(md) {
                font-size: 32px;
                line-height: 32px;
            }
        }

        &__desc {
            color: $white;
            font-size: 14px;
            margin-top: 18px;
        }
    }

    /*Seccion Soy XSI*/
    .soyxsi {

        $s: &;

        @include breakpoint(sm){
            height: 350px;
        }

        .it, .finanzas {
          display: block;
          padding-top: $base/2;
          overflow: hidden;

          @include breakpoint(sm){
              overflow: visible;
          }
        }

        .it {
            background: $lightestGray;
            @include breakpoint(sm){
                border-right: 1px solid $lightestGray;
                background: none;
                height: 350px;
                .soyxsi__data {
                    padding-top: 60px;
                    transform: translateX(55%);
                }
            }
        }

        .finanzas {
            text-align: right;
            @include breakpoint(sm){
                .soyxsi__data {
                    padding-top: 60px;
                    transform: translateX(-55%);
                }
            }
        }

        .it__img, .finanzas__img {
            position: relative;
            img {
              height: 250px;

              @include breakpoint (md) {
                position: absolute;
                height: 350px;
                top: 0;
              }
            }
        }

        .it__img{
            img{

                @include breakpoint (md) {
                    left:50%;
                    transform: translateX(-30%);
                }
            }
        }

        .finanzas__img{
            img {
                @include breakpoint (md) {
                    right:50%;
                    transform: translateX(30%);
                }
            }
        }

        .it__title {
          font-size: 40px;
          color: $blue;
          font-weight: bold;
          line-height: 40px;
          font-family: $mainFont;
            @include breakpoint (md) {
              font-size: 60px;
              line-height: 60px;
              width:300px;
            }
        }
        .finanzas__title {
          font-size: 40px;
          color: $green;
          font-weight: bold;
          line-height: 40px;
          font-family: $mainFont;
          display: inline-block;

            @include breakpoint (md) {
              font-size: 60px;
              line-height: 60px;
              width:300px;
              text-align: right;
            }
        }
        .button__soy {
          background: $white;
          color: $textDark;
          display: inline-block;
          font-family: $mainFont;
          font-size: 12px;
          font-weight: bold;
          line-height: 18px;
          max-width: 300px;
          padding: 5px 25px;
          border: 1px solid $lightGray;
          border-radius: 8px;
          text-align: center;
          text-transform: uppercase;
          transition: all $duration $easingLight;
          margin-top: 20px;
          cursor: pointer;

          &:hover{
              text-decoration: none;
              color: $blue;
          }

            @include breakpoint (sm) {
              line-height: 45px;
              padding: 0 25px;
            }
        }

        .finanzas-open,
        .it-open {
            .finanzas__img,
            .it__img {
                position: relative;
                height: 100%;
                img {
                    position: absolute;
                    bottom:-23px;
                }
            }
            .button__soy {
                transform: translateX(-50%);
            }
        }


        .finanzas-open {
            display: none;
            padding-top: $base/2;
              .finanzas__title {
                text-align: center;
                margin-bottom: 20px;
                font-family: $mainFont;
                font-size: 28px;
                @include breakpoint(sm){
                    width:100%;
                    font-size: 60px;
                    transform: translateX(-60px);
                }
              }

              ul {
                  text-align: left;
                  li {
                    font-size: 16px;
                    display: -webkit-inline-box;
                    font-weight: 700;
                    color:$midGray;
                    @include breakpoint(sm){
                        font-size: 20px;
                    }

                    .fa-check-circle {
                      margin-right: 5px;
                      color: $green;
                      font-size: 20px;
                    }
                  }
              }

              .soyxsi__data {
                  @include breakpoint(sm){
                      left:50%;
                      transform: translateX(-50%);
                      position: absolute;
                      top:60px;
                      text-align: center;
                  }
              }

              .finanzas__img {
                  @include breakpoint(sm){
                      left:65%;
                      position: absolute;
                      top:40px;
                  }
              }
        }

        .it-open {
            display: none;
            padding-top: $base/2;
              .it__title {
                text-align: center;
                margin-bottom: 20px;
                font-family: $mainFont;
                font-size: 28px;
                @include breakpoint(sm){
                    font-size: 60px;
                    width: 100%;
                    margin-left: -40px;
                }
              }

              ul {
                  text-align: left;
                  li {
                    font-size: 16px;
                    display: -webkit-inline-box;
                    width:auto;
                    font-weight: 700;
                    color:$midGray;
                    @include breakpoint(sm){
                        font-size: 20px;
                    }


                    .fa-check-circle {
                      margin-right: 5px;
                      color: $green;
                      font-size: 20px;
                    }
                  }
              }

              .soyxsi__data {
                  @include breakpoint(sm){
                      left:50%;
                      transform: translateX(-50%);
                      position: absolute;
                      top:60px;
                      text-align: center;
                  }
              }

              .it__img {
                  @include breakpoint(sm){
                      left:65%;
                      position: absolute;
                      top:40px;
                  }
              }

        }

        .btn__close {
            position: absolute;
            width:20px;
            height:20px;
            right:20px;
            top:20px;
            cursor: pointer;
            z-index:5;

            @include breakpoint(md){
                left:50%;
                transform: translateX(-600px);
                right:initial;
            }

            &:before,
            &:after{
                position: absolute;
                content: '';
                display: block;
                transform: rotate(-45deg);
                width: 100%;
                height: 2px;
                top:50%;
                background: $midGray;
            }

            &:after{
                transform: rotate(45deg);
            }
        }
    }

    /*SliderXsi*/
    &__slider-xsi {
        clear: both;
        background-image: $gradient;
        height: 680px;

        @include breakpoint(sm) {
          height: 400px;
          overflow: hidden;


        }

        .container {

            @include breakpoint(sm) {
                height: 400px;
                overflow: hidden;
            }

            &:before {
              @include shades(before);
              z-index:5;
              right:-20%;
            }

            &:after {
              @include shades(after);
              z-index:5;
              right:36.5%;
            }
        }

        &-img {
            padding-top: 100px;

            img {
                margin: 0 auto;
            }
        }

        &-text {
            padding-top: $base;

            @include breakpoint(sm) {
                padding-top: 100px;
            }

            p {
                color: white;
                font-size: 16px;
                line-height: 25px;
                margin-top: 20px;
                @include breakpoint(md) {
                    padding-right: 100px;
                    margin-top: 0;
                }
            }
        }

        .slick-dots {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    /* Sección Clientes*/
    &__clients {
      width: 100%;
      padding: 5% 0;
      background-image: url("/images/main-bg-white.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      &__title {
          font-size: 20px;
          text-align: center;
          color: $darkGray;
          text-transform: uppercase;
          margin-bottom: 50px;
      }
      &__img {
          text-align: center;

          img {
              width: 120px;
              height: auto;
          }
      }

      .container {
          margin: 50px auto;

          ul {
                li {
                    margin-bottom: 50px;
                }
            }
        }
    }

    /* Sección Novedades*/
    &__novedades{

        &__container {
            margin: 50px auto;
        }

        &__title {
            font-size: 30px;
            font-weight: bold;
            color: $darkestGray;
            text-transform: capitalize;
            margin-bottom: 40px;

            @include breakpoint(md) {
                font-size: 50px;
            }
        }

        &__articles {
            li {
                border-left: 2px solid $lightestGray;
                padding-left: 10px;
                margin-bottom: 10px;
                &:first-child {
                    border: none;
                    padding-left: none;
                }
            }
        }

        &__img {
            width: 100%;
            height: 170px;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
            }
        }

        &__article-title {
            color: $blue;
            font-weight: bold;
            margin-top: 10px;
        }

        &__article-desc {
            color: $darkestGray;
            font-size: 20px;
            font-weight: bold;
        }
    }
}
