.jobs {
    &__hero {
        background-image: $gradient;
        padding: 30% 0;
        overflow: hidden;
        position: relative;

        @include breakpoint(md) {
            padding: 4% 0;
        }

        &:before {
            @include shades(before);
            z-index:5;
            right: -110%;
            opacity: .7;
        }

        &:after {
            @include shades(after);
            z-index:5;
            opacity: .3;
            right:50%;
            top:-175%;
            width:80%;
            height:280%;
            box-shadow: inset 0 10px 100px rgba(0,0,0,.5);
        }
    }

    &__title {
        text-align: center;
        margin: 0;
        color:$white;
        margin-top: 5%;

        @include breakpoint(sm) {
            font-size: 48px;
        }
    }

    &__body {
        padding: 4% 0;
    }

    &__desc {
        font-size: 18px;
        line-height: 28px;
        color: $midGray;
        margin-bottom: $base;

        @include breakpoint(md){
            font-size: 21px;
            line-height: 33px;
        }
    }
}
