.servicetpm {

    &__hero {
        background-image: $gradient;
        height:0;
        padding-bottom: 130%;
        overflow: hidden;
        position: relative;

        a._button.-white {
            color:$blue;
        }

        @include breakpoint(sm) {
            padding-bottom: 80%;
        }

        @include breakpoint(md) {
            padding-bottom: 60%;
        }

        @include breakpoint(lg) {
            padding-bottom: 48%;
        }

        &:before {
            @include shades(before);
            z-index:0;
            right: -140%;
            opacity: 1;
        }

        &:after {
            @include shades(after);
            z-index:0;
            opacity: .5;
            right:-7.4%;
        }

        &__data {
            color:$white;
            z-index: 2;
            position: absolute;
            top: 13%;

            @include breakpoint(md){
                top: 15%;
            }

            h2 {
                @include breakpoint(md){
                    font-size: 60px;
                }
            }

            p{
                font-size: 16px;
                margin-bottom: 20px;
            }
        }

        &__character {
            position: absolute;
            top:5px;
            right:0;
            z-index: 2;

            img {
                max-width: 100%;

            }

            @include breakpoint(xs) {
                display:none;
            }
        }
    }

    &__calculator {
        margin-top: $base/2;
        @include breakpoint(md){

            position: absolute;
            transform: translateY(-70%);
            z-index:10;
            left:0;
            right:0;
            margin:auto;
        }
    }

    &__ctaone {
        margin-top: -15px;
    }

  /*Servicios Mantenimiento*/
  .servicetpm__mantenimiento {
      background: url('/images/service-tpm/whyxsi.png') no-repeat top center;
      padding: 10% 0;
      margin-top: -5px;

      ._button.-white{
        border: 1px solid $lightestGray;
        color: $blue;
        height: 50px;
        line-height: 50px;
        padding: 0 40px;
      }

      .mantenimiento__title {
          font-size: 18px;
          line-height: 24px;
          color: $textDark;
          font-weight: bold;
          text-align: center;
          font-family: $altFont;
          @include breakpoint (sm) {
            font-size: 30px;
            line-height: 30px;
            text-align: left;
          }
          @include breakpoint (md) {
            font-size: 45px;
            line-height: 45px;
            text-align: left;
          }
      }

      .mantenimiento__img {
        width: 100%;
        height: 400px;
        overflow: hidden;

        img {
            position: absolute;
          width: 100%;
          height: auto;
          top:0;
          opacity: 1;
          z-index:2;
          left:0;
          transition: all .5s $easing;
        }

        &.-playback {
            img {
                opacity: 0;
            }
        }
      }

      .mantenimiento__options {
          margin: $base*1.5 0 $base;

          @include breakpoint (sm) {
            padding-top: 20%;
          }
          @include breakpoint (md) {
            padding-top: 17%;
          }
          li {
              display: -webkit-box;
              font-size: 18px;
              color: $text;

              .fa-check {
                color: $blue;
                font-size: 18px;
                margin-right: 10px;
              }
          }
      }
  }

  /* Servicios*/
  &__services {
    background: $lightGray url('/images/service-tpm/services-bg.png') no-repeat top center;
    padding: 6% 0;

    $y: &;

    &__title {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      font-family: $altFont;
      @include breakpoint(md) {
        font-size: 42px;
      }
    }
    &__desc {
      font-size: 16px;
      text-align: center;
      color: $text;
      @include breakpoint(md) {
        font-size: 20px;
        padding: 0 8%;
        margin-bottom: 80px;
      }
    }
    ul {
      li {
        margin-bottom: 80px;
         #{$y}__img {
           text-align: center;
           margin-bottom: $base;
           img {
             margin: 0 auto;
           }
         }
         #{$y}__article-title {
           font-size: 20px;
           font-weight: bold;
           color: $blue;
           text-align: center;
         }
         #{$y}__article-desc {
           color: $text;
           text-align: center;
           font-size: 14px;
           margin-bottom: $base/2;
         }
         .btn__more {
             text-align: center;
             display: block;
           font-size: 14px;
           font-weight: bold;
           text-transform: uppercase;
         }
      }
    }
  }
  /* Opiniones SLider*/
    &__opiniones {
        background: url('/images/service-tpm/especialist-bg.png') no-repeat top center;
        padding: 10% 0;
        margin-bottom: -10px;
        &__title {
          font-size: 25px;
          font-weight: bold;
          text-align: center;
          @include breakpoint (md) {
            font-size: 35px;
          }
        }
        &__desc {
          font-size: 20px;
          text-align: center;
          color: $text;
          padding-top: 10px;
          margin-bottom: 50px;
        }
        &__slider-img {
          img {
            margin: 0 auto;
            max-width: 100%;
          }
        }
        &__slider-text {
          .slide__title {
            font-size: 20px;
            font-weight: bold;
            color: $blue;
          }
          .slide__text {
            color: $text;
          }
        }

        .slick-prev, .slick-next {
            &:before {
                color:$lightGray!important;
            }
        }
    }

  /* Sección Clientes*/
  &__clients {
    width: 100%;
    padding: 5% 0;
    background-image: url("/images/main-bg-white.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        font-size: 20px;
        text-align: center;
        color: $darkGray;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    &__img {
        text-align: center;

        img {
            width: 120px;
            height: auto;
        }
    }

    .container {
        margin: 50px auto;

        ul {
              li {
                  margin-bottom: 50px;
              }
          }
      }
  }

  /*Noticias*/
  .noticias {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid $lightGray;

      .novedades__container {
        padding: 6% 2% 0 5%;
          .novedades__title {
            color: $textDark;
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 30px;
          }
          .novedades__articles {
            li {
              margin-bottom: 30px;
              .novedades__img {
                width: 100%;
                height: 120px;
                overflow: hidden;

                  img {
                    width: 100%;
                    height: auto;
                  }
              }
              .novedades__content {
                p.novedades__article-title {
                  font-size: 18px;
                  font-weight: bold;
                }
                .novedades__article-desc {
                  color: $text;
                }
                .btn__more {
                  text-transform: uppercase;
                  font-size: 12px;
                  font-weight: bold;
                }
              }
            }
          }
      }
      .informes__container {
        background-color: $lightGray;
        padding: 6% 5% 4% 2%;
          .informes__title {
            color: $textDark;
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 30px;
          }
          .informes__articles {
            li {
              margin-bottom: 15px;
              .informes__category {
                font-size: 14px;
                font-weight: bold;
                color: $blue;
                padding-left: 15px;
                padding-bottom: 0px;
              }
              .informes__img {
                width: 100%;
                height: 120px;
                overflow: hidden;

                  img {
                    width: 100%;
                    height: auto;
                  }
              }
            }
          }
          .informes__content {
            p.informes__article-title {
              font-size: 18px;
              font-weight: bold;
            }
            .informes__article-desc {
              color: $text;
            }
            .btn__more {
              text-transform: uppercase;
              font-size: 12px;
              font-weight: bold;
            }
          }
      }
  }
}
