@import './pages/home';
@import './pages/about';
@import './pages/analisis';
@import './pages/blueprints';
@import './pages/formulario-general';
@import './pages/formulario-tpm';
@import './pages/gartner';
@import './pages/historia';
@import './pages/jobs';
@import './pages/mantenimiento';
@import './pages/partners';
@import './pages/service-itad';
@import './pages/service-tpm';
@import './pages/team';
@import './pages/whitepapers';
