@media (-moz-touch-enabled: 1), (pointer:coarse) {
    .header__menu > li:nth-child(2) > a {
        pointer-events: none;
    }
}

.header{

    $p: &;

    position: fixed;
    top:20px;
    width:120px;
    height:80px;
    z-index: 100000;
    overflow: hidden;
    left:0;
    right:0;
    margin: auto;
    transition: all $easing $duration;

    @include breakpoint(md){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 20px;
        overflow: visible;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        top:0;
        height: 60px;
        width: 60px;
        transition: all $easing $duration;
        background: rgba(0,0,0,.5);
        border-radius: 50%;
        right:25%;
        @include breakpoint(md){
            display: none;
        }
    }

    @include breakpoint(md){
        height: 100px;
        position: absolute;
        top:0;
        width: 100%;
    }

    &__logo{
        transition: all $easing $duration;

        @include breakpoint(xs) {
            opacity: 0;
            border-radius: 50%;
            background: $blue;
            width: 60px;
            height: 60px;
            display: block;
            padding: 10px;
            position: absolute;
            left:0;
        }
        svg {
            fill: $white;
            width: 70px;
            height: 70px;


            @include breakpoint(xs) {
                margin-top: 5px;
                width: 35px;
                height: 30px;
            }
        }

        @include breakpoint(md) {
            width: 20%;
            display: flex;
            justify-content: center;
        }
    }

    &__nav {
        transition: all $easing $duration;
        position: absolute;
        z-index: 5;
        padding-top: 100px;
        width:100%;
        opacity: 0;
        display: flex;
        flex-direction: column;


        @include breakpoint(md) {
            position: relative;
            z-index: 5;
            padding-top: 20px;
            width:80%;
            opacity: 1;
            justify-content: space-around;
            flex-direction: row;
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        font-family: $mainFont;

        @include breakpoint(md) {
            border:none;
            flex-direction: row;
        }

        & > li{
            border-bottom: 1px dotted rgba(255,255,255,.5);
            position: relative;
            transition: all $duration $easing;
            @include breakpoint(md) {
                border:none;
            }

            &:hover {
                & > a + #{$p}__submenu {
                    opacity: 1;
                    transform: translate3d(-50%, 0, 0);
                    pointer-events: all;
                    @include breakpoint(xs) {
                        overflow: visible;
                        max-height: 150px;
                        transform: translate3d(0, 0, 0);
                    }
                }
            }

            &.-active{
                border-top: 3px solid $white;
                margin-top: -3px;
            }
        }

        & > li > a {
            padding: 0 10px;
            height:40px;
            line-height: 40px;
            display: block;
            text-align: center;
            color:$white;
            text-transform: uppercase;
            font-size: 14px;

            &:hover{
                background: rgba(0,0,0,.5);
                color:$white;

                @include breakpoint(md) {
                    background: none;
                    transform: scale(1.1);
                }
            }

            & + #{$p}__submenu {
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0,0,0,.15);
                background: $white;
                position: absolute;
                top:50px;
                min-width: 280px;
                left:50%;
                opacity: 0;
                pointer-events: none;
                transform: translate3d(-50%, -200%, 0);
                transition: transform .6s $easing, opacity .4s $easing;

                li:not(:last-child){
                    border-bottom: 1px solid $lightestGray;
                }

                @include breakpoint(xs) {
                    position: relative;
                    top:0;
                    border-radius: 0;
                    max-height: 0;
                    overflow: hidden;
                    transition: all $duration $easing;
                    transform: translate3d(0, 0, 0);
                    left:0;
                }

                &:before{
                    position: absolute;
                    content: '';
                    display: block;
                    left:50%;
                    transform: translateX(-50%);
                    border-left:10px solid transparent;
                    border-right:10px solid transparent;
                    border-bottom:10px solid $white;
                    top:-10px;
                }

                a{
                    display: block;
                    padding: 0 20px;
                    height: 30px;
                    line-height: 30px;
                    color:$midGray;
                    text-transform: uppercase;
                    font-size: 14px;
                    &:hover {
                        color:$blue;
                    }
                }
            }
        }
    }

    &__social {
        display: flex;
        padding: 20px 15%;
        justify-content: space-around;
        overflow: hidden;

        @include breakpoint(md) {
            padding: 0 0 0 40px;
        }


        li {
            a {
                border-radius: 50%;
                width:40px;
                height:40px;
                line-height: 40px;
                font-size:18px;
                display: block;
                text-align: center;
                color: $white;
                background: transparentize($blue, .3);

                @include breakpoint(md) {
                    background: none;
                    font-size:16px;
                }
            }
        }
    }

    &__hamburguer {
        background: rgba(0,0,0,.7);
        border-radius: 50%;
        width:60px;
        height:60px;
        position: absolute;
        right:25%;
        top:0;
        transition: all $easing $duration;
        z-index:10;

        span{
            background: $white;
            display: block;
            height:1px;
            left:0;
            margin: 10px auto 0;
            position: relative;
            right:0;
            transition: all .5s ease;
            width:60%;
            &:first-child{
                margin-top: 17px;
            }
        }

        @include breakpoint(md) {
            display: none;
        }
    }

    &.-ontop {

        &:before {
            right:0;
        }

        #{$p}__hamburguer {
            right:0;
        }

        #{$p}__logo {
            opacity: 1;
        }
    }

    &.-open{
        width:100%;
        top:0;
        left:0;
        right:0;
        height: 100%;

        &:before {
            width: 100%;
            top:0;
            left:0;
            right:0;
            border-radius: 0;
            background: rgba(0,0,0,.5);
            height: 100%;
        }

        #{$p}__hamburguer {
            top:20px;
            right:20px;
            background: rgba(0,0,0,0);

            span{
                &:nth-child(2){
                    opacity: 0;
                    top:50%;
                }
                &:nth-child(1),
                &:nth-child(3){
                    position: absolute;
                    top:30%;
                    transform: rotate(45deg);
                    width: 60%;
                }
                &:nth-child(3){
                    top:40%;
                    transform: rotate(-45deg);
                }
            }
        }

        #{$p}__logo {
            padding-top: 15px;
            opacity: 1;
            left: 20px;
            background: transparent;
            transform: scale3d(1.5,1.5,1.5);
            transform-origin: left top;
        }

        #{$p}__nav {
            opacity: 1;
        }
    }
}
