.header{
    height: 100px;
    position: absolute;
    top:0;
    width: 100%;
    z-index: 1000;

    .container-fluid .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 20px;
    }

    &__logo{
        svg {
            fill: $white;
            width: 70px;
            height: 70px;
        }
    }

    &__nav {
        display: -webkit-inline-box;

        li {
            padding-left: 20px;
            transition: all 150ms ease;

            &:first-child {
                padding-left: 0px;
            }
            a {
                color: $white;
            }

            &:hover {
                font-weight: bold;
                transition: all 150ms ease;
            }
        }
    }

    &__social {
        display: -webkit-inline-box;

        li {
            padding-left: 20px;

            a {
                color: $white;
            }

        }
    }
}
