header.header

    .header__hamburguer
        span
        span
        span
        
    .container-fluid
        nav.row
            .header__logo
                | <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>        
        
            ul.header__nav
                each item in site.data.header
                    li
                        a(href=item.url)= item.name
        
            ul.header__social
                each red in site.data.social
                    li
                        a(href=red.url)
                            i(class="fa fa-#{red.name}")
