header.Header

    .header__hamburguer
        span
        span
        span
        
    .header__logo
        | <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
        | <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logoOriginal"></use></svg>
        
    .container
        nav.row
            ul.col-xs-24.col-md-12.col-md-offset-6.header__nav
                each item in site.data.header
                    li
                        a(href=item.url)= item.name
        
    
        ul.header__social
            each red in site.data.social
                li
                    a(href=red.url)
                        i(class="fa fa-#{red.name}")
