mixin article(data)
    article.article
        .article__img
            img(src=data.img)
        .article__data
            h3=data.title
            each par in data.content
                p= par
            a.article__read-more(href=data.url) seguir leyendo
                
        
