.contact-form {
    padding: 6% 7%;
    background: $white;
    box-shadow: 0 0 50px rgba(0,0,0,.1);

    &__title {
        font-size:18px;
        text-align: center;
        margin: 0 0 $base;
        color:$textDark;
    }

    &__group{
        margin-bottom: 10px;

        label {
            display: block;
            text-transform: uppercase;
            color:$midGray;
            font-size:12px;
        }

        input,
        select,
        textarea {
            border:1px solid $lightGray;
            width: 100%;
            display: block;
            padding: 5px;
            font-size:16px;
            color: $midGray;
        }

        select {
            margin-top: 22px;
        }

        label.-select {
            position: absolute;
            width:100%;
            top:0;
            bottom:0;
            pointer-events: none;
            z-index:2;

            &:before{
                position: absolute;
                content: '';
                background: $white;
                border-left: 2px solid $midGray;
                border-bottom: 2px solid $midGray;
                right:37px;
                top:32px;
                transform: rotate(-45deg);
                width:10px;
                height:10px;
            }
        }

        .-submit.-white {
            border: 1px solid $lightGray;
            float: right;
            width:auto;
            padding: 0 40px;
            color: $blue;
        }
    }
}
