| <svg style="height:0;width:0;position:absolute;">
|   <symbol viewBox="0 0 418.05 323.22" id="logo">
|       <title>logo</title>
|       <path d="M374.043,230.196h43.334V68.993h-43.334V230.196z M395.69,6.109l-23.863,26.255v15.923h46.224V6.109H395.69z"/>
|       <g>
|       	<path d="M302.396,102.655l-32.453,35.377l4.075,1.142c30.307,8.491,35.853,16.277,35.853,28.553 c0,15.991-14.063,25.925-36.701,25.925c-15.233,0-29.086-3.317-42.35-10.142l-1.764-0.908l-28.651,31.231l2.845,1.611	c21.046,11.914,44.25,17.954,68.969,17.954c23.829,0,44.138-6.271,58.729-18.132c15.116-12.291,23.106-29.825,23.106-50.709	c0-15.737-4.198-28.293-12.834-38.387c-8.02-9.372-20.188-16.875-37.2-22.939L302.396,102.655z"/>
|       	<path d="M150.403,268.023l50.718,55.198h57.201l-79.298-86.342L150.403,268.023z M332.325,18.492 C312.127,6.049,289.874,0,264.296,0c-22.003,0-41.917,6.578-56.073,18.52c-14.365,12.121-22.277,29.316-22.277,48.42	c0,16.471,4.152,29.407,12.68,39.456l-69.809,75.818l-71.616-77.975H0L100.561,213.73L0,323.221h57.201l71.465-77.778l29.062-31.75 l-0.008-0.009L267.976,93.211l-4.024-1.167C235.19,83.712,230.13,76.39,230.13,64.088c0-14.559,13.476-24.341,33.532-24.341 c13.37,0,27.08,3.66,40.747,10.878l1.774,0.937l28.822-31.419L332.325,18.492z"/>
|       </g>
|   </symbol>
| </svg>

| <svg style="height:0;width:0;position:absolute;">
|   <symbol viewBox="0 0 418.05 323.22" id="logoOriginal">
|       <title>logo</title>
|       <path fill="#009c4d" d="M374.043,230.196h43.334V68.993h-43.334V230.196z M395.69,6.109l-23.863,26.255v15.923h46.224V6.109H395.69z"/>
|       <g>
|       	<path d="M302.396,102.655l-32.453,35.377l4.075,1.142c30.307,8.491,35.853,16.277,35.853,28.553 c0,15.991-14.063,25.925-36.701,25.925c-15.233,0-29.086-3.317-42.35-10.142l-1.764-0.908l-28.651,31.231l2.845,1.611	c21.046,11.914,44.25,17.954,68.969,17.954c23.829,0,44.138-6.271,58.729-18.132c15.116-12.291,23.106-29.825,23.106-50.709	c0-15.737-4.198-28.293-12.834-38.387c-8.02-9.372-20.188-16.875-37.2-22.939L302.396,102.655z"/>
|       	<path d="M150.403,268.023l50.718,55.198h57.201l-79.298-86.342L150.403,268.023z M332.325,18.492 C312.127,6.049,289.874,0,264.296,0c-22.003,0-41.917,6.578-56.073,18.52c-14.365,12.121-22.277,29.316-22.277,48.42	c0,16.471,4.152,29.407,12.68,39.456l-69.809,75.818l-71.616-77.975H0L100.561,213.73L0,323.221h57.201l71.465-77.778l29.062-31.75 l-0.008-0.009L267.976,93.211l-4.024-1.167C235.19,83.712,230.13,76.39,230.13,64.088c0-14.559,13.476-24.341,33.532-24.341 c13.37,0,27.08,3.66,40.747,10.878l1.774,0.937l28.822-31.419L332.325,18.492z"/>
|       </g>
|   </symbol>
| </svg>
