mixin suscribe()
    section.newsletter
        .container
            .row
                .col-xs-24.newsletter__container
                    p.newsletter__title.col-xs-24.col-md-24 Suscribite a nuestro newsletter
                    
                    form.newsletter__form(action='/newsletter',method='post')
                        input(id='email',type='text',value='',placeholder='Ingrese su e-mail',name='email')
                        input(type='submit',value='send')
